html{
	background-image: url("../Menu/img/arcade-background.jpg");
}
canvas{
	margin-left: 32%;
}
h1{
  	font-family: 'Audiowide', Arial, Helvetica, sans-serif;
  	font-size: 24px;
  	text-align: center;
}